<!doctype html>
<html ng-app="myApp">
    <head>
        <title>Tinder 2</title>
        <script src="../../../js/lib/angular/angular.js"></script>
        <script src="../../../js/app.js"></script>
        <script src="../../../js/controllers.js"></script>
        <script src="../../../js/sessions/services.js"></script>
        <script src="../../../js/sessions/controllers.js"></script>
        <script src="../../../js/users/services.js"></script>
        <script src="../../../js/users/controllers.js"></script>
        <script src="../../../js/categories/services.js"></script>

        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/font-awesome.min.css" />
    </head>
    <body>
        {{{body}}}
    </body>
</html>